* {
	padding: 0;
	margin: 0;
	background: #282a36;
	color: #f8f8f2;
	font-family: arial,monospace;
}


.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	height: 100vh;
}
.root button {
	all: unset;
	padding: 8px;
	background: #ff5555;
	border-radius: 5px;
}
.root select {
	border-radius: 5px;
}
.root h3 {
	padding: 2px;
	border-radius: 5px;
	background: #50fa7b;
	color: #282a36;
}

#input {
	all: unset;
	padding: 8px;
	border: 1px solid #f8f8f2;
	border-radius: 5px;
	background: #44475a;
}

#reset {
	all: unset;
	padding: 8px;
	border: 1px solid #f8f8f2;
	border-radius: 5px;
	background: #44475a;
}

#result {
	width: min(60%, 280px);
	border: 1px solid #44475a;
	padding: 8px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

#live {
	display: flex;
	gap: 0.3em;
}


.heart{
   width: 10px;
   height: 10px;
   transform: rotate(45deg);
   transform-origin: center;
   position: relative;
   background: red;
   margin: 4px auto;
}
.heart::before, .heart::after{
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: red;
}
.heart::before{
   left: -5px;
}
.heart::after{
   top: -5px;
}
